aiofiles==0.4.0
aiosmtplib==1.0.4
amqp==2.4.0
appnope==0.1.0
asynctest==0.12.2
backcall==0.1.0
billiard==3.5.0.5
celery==4.2.1
certifi==2018.11.29
chardet==3.0.4
cymem==2.0.2
cytoolz==0.9.0.1
decorator==4.3.0
dill==0.2.8.2
httptools==0.0.11
idna==2.8
ipython==7.2.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.13.1
Jinja2==2.10
kombu==4.2.2.post1
MarkupSafe==1.1.0
msgpack==0.5.6
multidict==4.5.2
murmurhash==1.0.1
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
pika==0.9.5
plac==0.9.6
preshed==2.0.1
prompt-toolkit==2.0.7
ptyprocess==0.6.0
Pygments==2.3.0
pymongo==3.7.2
pytz==2018.9
regex==2018.1.10
requests==2.21.0
sanic==18.12.0
Sanic-Auth==0.2.0
sanic-jinja2==0.7.4
sanic-mail==0.0.2
sanic-session==0.4.1
six==1.12.0
spacy==2.0.18
thinc==6.12.1
toolz==0.9.0
tqdm==4.29.1
traitlets==4.3.2
ujson==5.2.0
urllib3==1.24.1
uvloop==0.11.3
vine==1.2.0
wcwidth==0.1.7
websockets==6.0
wrapt==1.10.11
